{% extends 'index.html' %}
	{% load static %}
	{% block body %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="color">color</td>
							<td class="size">size</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					    {% for i in Cart %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{i.product.img1.url}}" height="150px" width="100px" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{i.product.name}}</a></h4>

							</td>
							<td class="cart_price">
								<p>{{i.product.finalPrice}}</p>
							</td>
							<td class="cart_quantity">
								<p>{{i.quantity}}</p>
							</td>
							<td class="cart_quantity">
								<p>{{i.color}}</p>
							</td>
							<td class="cart_quantity">
								<p>{{i.size}}</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{i.total}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="/deletecart/{{i.id}}/"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                         {% endfor %}


					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">

			<div class="row">

				<div class="col-sm-12">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>Rs{{Sub}}</span></li>
							{% if Delivery %}
							<li>Shipping Cost <span>{{Delivery}}</span></li>
							{% else %}
							<li>Shipping Cost <span>Free</span></li>
							{% endif %}
							<li>Total <span>Rs{{Final}}</span></li>
						</ul>

							<a class="btn btn-default check_out" href="/checkout/">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
{% endblock %}